.dbc-app {}

/* Begin :  custom style for native browser scroll bar*/

body.dbc-app:not(.dbc-app-on-macintosh)::-webkit-scrollbar,
.dbc-app:not(.dbc-app-on-macintosh) *::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

body.dbc-app:not(.dbc-app-on-macintosh)::-webkit-scrollbar {
  background: rgba(255, 255, 255, 1);
}

.dbc-app:not(.dbc-app-on-macintosh) *::-webkit-scrollbar:hover {
  background: rgba(255, 255, 255, 0);
}

.dbc-app:not(.dbc-app-on-macintosh) *:hover::-webkit-scrollbar-track {
  background-color: transparent;
}

body.dbc-app:not(.dbc-app-on-macintosh)::-webkit-scrollbar-thumb,
.dbc-app:not(.dbc-app-on-macintosh) *::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 6px solid transparent;
  min-height: 50px;
  background-color: transparent;
}

body.dbc-app:not(.dbc-app-on-macintosh)::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 16px 16px 0px rgb(128 130 133);
}

body.dbc-app:not(.dbc-app-on-macintosh):hover::-webkit-scrollbar-thumb,
.dbc-app:not(.dbc-app-on-macintosh) *:hover::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 16px 16px 0px rgb(128 130 133);
}

.dbc-app:not(.dbc-app-on-macintosh) .dbc-app-dark-area:hover::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 16px 16px 0px rgba(255, 255, 255, 0.75);
}

body.dbc-app:not(.dbc-app-on-macintosh)::-webkit-scrollbar-thumb:hover,
.dbc-app:not(.dbc-app-on-macintosh) *::-webkit-scrollbar-thumb:hover {
  border: 4px solid transparent;
  -webkit-box-shadow: inset 16px 16px 0px rgb(128 130 133);
  background-color: transparent;
}

.dbc-app:not(.dbc-app-on-macintosh) *.dbc-app-dark-scrollable-area:hover::-webkit-scrollbar-thumb,
.dbc-app:not(.dbc-app-on-macintosh) *.dbc-app-dark-scrollable-area::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 16px 16px 0px #eeeeee;
}

.dbc-app .dbc-app-normal-scrolling {
  overflow-x: auto;
  overflow-y: auto;
  overflow: overlay !important;
}

.dbc-app:not(.dbc-app-on-macintosh) .dbc-app-normal-scrolling {
  scrollbar-width: thin;
  scrollbar-color: rgb(128 130 133) transparent;
}

.dbc-app:not(.dbc-app-on-macintosh) *.dbc-app-dark-scrollable-area:hover {
  scrollbar-color: #eeeeee transparent;
}

.dbc-app .dbc-app-normal-scrolling {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/*TODO: Will be moved to hisos side - End*/

/* End :  custom style for native browser scroll bar*/

.dbc-app .dbc-company-logo {
  background: #1fc;
}

.dbc-app .dbc-header .dbc-company-logo {
  background: #ffc;
}

.dbc-app .dbc-footer .dbc-company-logo {
  background: #ffc;
}

.dbc-app .dbc-global-mask {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1;
}

.dbc-app .dbc-global-mask .dbc-global-mask-loading-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-weight: 700;
  height: 100%;
  width: 100%;
}

.dbc-app .dbc-hidden {
  display: none !important;
  visibility: hidden !important;
}

/* TEMP changes */
/* .dbc-app .dbc-header-wrapper {
  background-color: lightseagreen;
  display: flex;
}
 */

/*Header start*/
.dbc-app .dbc-header-wrapper {
  height: 100px;
}

.dbc-app .dbc-header-left-logo-wrapper,
.dbc-app .dbc-header-right-bg-wrapper>div {
  display: flex;
  align-items: center;
}

.dbc-app .dbc-logo {
  background: url("../img/company-logo.png") no-repeat;
  height: 80px;
  width: 140px;
  background-size: contain;
}

.dbc-app .dbc-header-right-bg {
  background: url("../img/sos-header-right-bg.png") no-repeat;
  height: 100px;
  width: 69px;
  margin-right: 41px;
  background-size: contain;
}

.dbc-app .dbc-header-wrapper .btn {
  padding: 0;
}

.dbc-app .dbc-notification-icon {
  background: url("../img/notification_icon.png") no-repeat;
  width: 19px;
  height: 22.5px;
  background-size: contain;
  margin: 0.5rem 1rem;

}

.dbs-header-profile-image {
  height: 26px;
  width: 26px;
  cursor: pointer;
}

.dbs-header-user-profile-firstname {
  margin: 0 6px;
  font-size: 12px;
  font-weight: 700;
}

.dbc-app .container {
  max-width: 100%;
}

/*Header end*/


/*Body start*/

.dbc-app .dbc-body-wrapper {
  background-color: lightskyblue;
  height: calc(100vh - 180px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #2f4594;
}

.dbc-app .dbc-full-height {
  background: #fff;
  flex: 1 1 auto;
  padding: 0 12px;
  height: 100%;
}

.dbc-app .dbc-badge-add-button-wrapper {
  background-color: #1fc;
}

.dbc-app .dbc-badge-list-wrapper {
  background-color: rgb(15, 130, 159);
}

.dbc-app .dbc-tile {
  flex: 1 1 auto;
  background: green;
  height: calc(100% - 80px);
  width: 25%;
  padding: 16px;
  margin: 16px;
  margin-bottom: 64px;
}

.dbc-app .dbc-navmenu-item {
  display: flex;
  /* padding: 8px; */
  /* border: 1px solid gray; */
}

.dbc-app .dbc-navmenu-item .dbc-navmenu-active,
.dbc-app .dbc-navmenu-item .dbc-navmenu-inactive {
  background: transparent;
  padding: 8px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  height: 56px;
  align-items: center;
}

.dbc-app .dbc-navmenu-item .dbc-navmenu-inactive:hover {
  background: #23286236;
}

.dbc-app .dbc-navmenu-item .dbc-navmenu-active {
  background: #232862;
  color: #fff;
  font-weight: bold;
}

.dbc-app .dbc-left-navigation-wrapper {
  padding-top: 20px;
  border-radius: 6px;
  height: 100%;
}

.dbc-app .dbc-left-navigation-wrapper,
.dbc-app .dbc-content-area-wrapper {
  background: #e9edfa;
}

.dbc-app .dbc-content-area-wrapper {
  border-radius: 6px;
  padding: 20px;
}

.dbc-app img.dbc-w-32 {
  width: 32px;
  margin: 4px 16px;
  color: #010fb8;
}

.dbc-app .dbc-content-area-wrapper img.dbc-w-20 {
  margin: 8px;
  color: #010fb8;
}

.dbc-app a.dbc-navmenu-inactive span {
  color: #010fb8;
}

.dbc-app .dbc-navmenu-active img.dbc-w-32 {}

.dbc-app .dbc-ml-1 {
  /* margin-left: 1rem; */
}

/*Body end*/

/*footer start*/
.dbc-app .dbc-footer-wrapper {
  background-color: #ffffff;
  font-weight: bold;
  height: 80px;
  color: #2f4694;
}

.dbc-app .dbc-footer-wrapper .dbc-logo {
  height: 48px;
  width: 84px;
}

.dbc-app .dbc-footer-wrapper .dbc-footer-logo-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 6px;
}


.dbc-app .dbc-footer-wrapper .dbc-footer-logo,
.dbc-app .dbc-footer-wrapper .dbc-footer-logo-text {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0;
  margin: 0 24px;
}

.dbc-app .dbc-footer-wrapper .navbar-nav {
  margin: 0 24px;
}

.dbc-app .dbc-footer-wrapper .navbar-nav-left .nav-link {
  margin: 0 16px;
  color: #2f4694;
  font-size: 12px;
}

.dbc-app .dbc-footer-wrapper .dbc-copy-text {
  font-weight: bold;
  font-size: 11px;
  line-height: 15px;
  margin: 0 48px;
  padding-bottom: 5px;
}

.dbc-app .dbc-w-20 {
  width: 16px;
  height: 16px;
  margin: 0px;
}

/*Footer end*/


.dbc-app .dbc-body2-wrapper {
  padding: 20px;
}

.dbc-app .dbc-body-cards-wrapper {
  flex-flow: column;
}

.dbc-app .dbc-body-action-bar {
  display: flex;
  flex-flow: row;
  font-weight: bold;
  color: #2f4694;
}

.dbc-app .dbc-body-actions {
  display: flex;
  flex-flow: row;
  justify-content: end;
}

.dbc-app .dbc-body-action {
  margin-left: 10px;
}

.dbc-app .dbc-cards-collection-wrapper {
  border: 1px dotted #000;
  height: calc(100% - 32px);
  padding: 29px 0;
}

.dbc-app .dbc-placeholder-add-card.dbc-card-item-wrapper {
  border: 2px dashed #2d326c;
  border-radius: 10px;
  flex-flow: column;
  padding: 10px;
}

.dbc-app .dbc-card-item-wrapper {
  width: 239px;
  cursor: pointer;
  margin: 16px;

}

.dbc-app .dbc-card-item-parent {
  width: 100%;
  height: 100%;
  color: #fff;
  background-size: cover;
}

.dbc-app .dbc-card-item-parent.card-with-bg {
  /* background-image: url("../img/Card.png"); */
  padding: 16px;
  padding: 16px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.dbc-app .dbc-card-upload-picture {
  width: 72px;
  height: 100px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-top: 32px;
  margin-bottom: 10px;
}

.dbc-app .dbc-card-fields {
  overflow-y: auto;
  height: 240px;
}

.dbc-app .dbc-card-title {
  padding-bottom: 16px;
}

.dbc-app .dbc-card-field-wrapper>div {
  padding-bottom: 8px;
}

.dbc-app .dbc-placeholder-add-card-img {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.dbc-app .dbc-placeholder-add-card:hover {
  background-color: #dbe2fa;
}

.dbc-app .dbc-placeholder-add-card-img img {
  height: 72px;
  width: 72px;
}

.dbc-app .dbc-placeholder-add-card-text {
  justify-content: center;
  align-items: center;
  color: #2f4694;
  font-size: 20px;
  font-weight: bold;
  line-height: 2.5;
}

.dbc-app .dbc-card-company-logo-wrapper {
  position: absolute;
  /* float: right; */
  height: 42px;
  width: calc(100% - 15px);
  background-size: 50px 50px;
  background-position: 10px;
  background-size: cover;
  display: flex;
  display: flex;
  justify-content: end;
}

.dbs-card-field-item {

}

.dbs-card-field-item-img {
  width: 32px;
  height: 32px;
  background-size: cover;
}

.dbs-card-field-item-img.dbs-card-field-item-telephone {
  background-image: url("./../img/fields/telephone.png");
}

.dbs-card-field-item-img.dbs-card-field-item-wechat {
  background-image: url("./../img/fields/wechat.png");
}

.dbs-card-field-item-img.dbs-card-field-item-instagram {
  background-image: url("./../img/fields/instagram.png");
}

.dbs-card-field-item-img.dbs-card-field-item-youtube {
  background-image: url("./../img/fields/youtube.png");
}

.dbs-card-field-item-img.dbs-card-field-item-mobile {
  background-image: url("./../img/fields/telephone.png");
}

.dbs-card-field-item-img.dbs-card-field-item-linkedin {
  background-image: url("./../img/fields/linkedin.png");
}

.dbs-card-field-item-img.dbs-card-field-item-wechat {
  background-image: url("./../img/fields/wechat.png");
}

.dbs-card-field-item-img.dbs-card-field-item-link {
  background-image: url("./../img/fields/link.png");
}

.dbs-card-field-item-img.dbs-card-field-item-website {
  background-image: url("./../img/fields/website.png");
}

.dbs-card-field-item-img.dbs-card-field-item-twitter {
  background-image: url("./../img/fields/twitter.png");
}

.dbs-card-field-item-img.dbs-card-field-item-email {
  background-image: url("./../img/fields/email.png");
}

.dbs-card-field-item-value {
  color: #fff;
}