.dbc-app {}

/* Begin :  custom style for native browser scroll bar*/

body.dbc-app:not(.dbc-app-on-macintosh)::-webkit-scrollbar,
.dbc-app:not(.dbc-app-on-macintosh) *::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

body.dbc-app:not(.dbc-app-on-macintosh)::-webkit-scrollbar {
  background: rgba(255, 255, 255, 1);
}

.dbc-app:not(.dbc-app-on-macintosh) *::-webkit-scrollbar:hover {
  background: rgba(255, 255, 255, 0);
}

.dbc-app:not(.dbc-app-on-macintosh) *:hover::-webkit-scrollbar-track {
  background-color: transparent;
}

body.dbc-app:not(.dbc-app-on-macintosh)::-webkit-scrollbar-thumb,
.dbc-app:not(.dbc-app-on-macintosh) *::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 6px solid transparent;
  min-height: 50px;
  background-color: transparent;
}

body.dbc-app:not(.dbc-app-on-macintosh)::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 16px 16px 0px rgb(128 130 133);
}

body.dbc-app:not(.dbc-app-on-macintosh):hover::-webkit-scrollbar-thumb,
.dbc-app:not(.dbc-app-on-macintosh) *:hover::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 16px 16px 0px rgb(128 130 133);
}

.dbc-app:not(.dbc-app-on-macintosh) .dbc-app-dark-area:hover::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 16px 16px 0px rgba(255, 255, 255, 0.75);
}

body.dbc-app:not(.dbc-app-on-macintosh)::-webkit-scrollbar-thumb:hover,
.dbc-app:not(.dbc-app-on-macintosh) *::-webkit-scrollbar-thumb:hover {
  border: 4px solid transparent;
  -webkit-box-shadow: inset 16px 16px 0px rgb(128 130 133);
  background-color: transparent;
}

.dbc-app:not(.dbc-app-on-macintosh) *.dbc-app-dark-scrollable-area:hover::-webkit-scrollbar-thumb,
.dbc-app:not(.dbc-app-on-macintosh) *.dbc-app-dark-scrollable-area::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 16px 16px 0px #eeeeee;
}

.dbc-app .dbc-app-normal-scrolling {
  overflow-x: auto;
  overflow-y: auto;
  overflow: overlay !important;
}

.dbc-app:not(.dbc-app-on-macintosh) .dbc-app-normal-scrolling {
  scrollbar-width: thin;
  scrollbar-color: rgb(128 130 133) transparent;
}

.dbc-app:not(.dbc-app-on-macintosh) *.dbc-app-dark-scrollable-area:hover {
  scrollbar-color: #eeeeee transparent;
}

.dbc-app .dbc-app-normal-scrolling {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/*TODO: Will be moved to hisos side - End*/

/* End :  custom style for native browser scroll bar*/

.dbc-app .dbc-company-logo {
  background: #1fc;
}

.dbc-app .dbc-header .dbc-company-logo {
  background: #ffc;
}

.dbc-app .dbc-footer .dbc-company-logo {
  background: #ffc;
}

.dbc-app .dbc-global-mask {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1;
}

.dbc-app .dbc-global-mask .dbc-global-mask-loading-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-weight: 700;
  height: 100%;
  width: 100%;
}

.dbc-app .dbc-hidden {
  display: none !important;
  visibility: hidden !important;
}

/* TEMP changes */
/* .dbc-app .dbc-header-wrapper {
  background-color: lightseagreen;
  display: flex;
}

.dbc-app .dbc-body-wrapper {
  background-color: lightskyblue;
}

.dbc-app .dbc-footer-wrapper {
  background-color: lightblue;
} */

/*Header start*/
.dbc-app .dbc-header-left-logo-wrapper,
.dbc-app .dbc-header-right-bg-wrapper > div {
  display: flex;
  align-items: center;
}

.dbc-app .dbc-logo {
  background: url("../img/company-logo.png") no-repeat;
  height: 80px;
  width: 140px;
  background-size: contain;
}

.dbc-app .dbc-header-right-bg {
  background: url("../img/sos-header-right-bg.png") no-repeat;
  height: 100px;
  width: 69px;
  background-size: contain;
}

.dbc-app .dbc-notification-icon {
  background: url("../img/notification_icon.png") no-repeat;
  width: 19px;
  height: 22.5px;
  background-size: contain;
  margin: 0.5rem 1rem;

}

.dbs-header-profile-image {
  height: 26px;
  width: 26px;
  cursor: pointer;
}

.dbs-header-user-profile-firstname {
  margin-left: 5px;
  font-size: 12px;
  font-weight: 700;
}

.aaa {
  position: relative;
}

.bbb {
  position: relative;
    overflow: hidden;
    background-color: white;
    border-radius: 2px;
    box-sizing: border-box;
    color: #333;
    cursor: default;
    outline: none;
    padding: 8px 2px;
    transition: all 200ms ease;
    width: auto;
    text-align: end;
    width: 100%;
    right: 0px;
}

.ccc {
  background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 1px 0 rgb(0 0 0 / 6%);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
}
/*Header end*/