.indi-app {}

/* Begin :  custom style for native browser scroll bar*/

body.indi-app:not(.indi-app-on-macintosh)::-webkit-scrollbar,
.indi-app:not(.indi-app-on-macintosh) *::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

body.indi-app:not(.indi-app-on-macintosh)::-webkit-scrollbar {
  background: rgba(255, 255, 255, 1);
}

.indi-app:not(.indi-app-on-macintosh) *::-webkit-scrollbar:hover {
  background: rgba(255, 255, 255, 0);
}

.indi-app:not(.indi-app-on-macintosh) *:hover::-webkit-scrollbar-track {
  background-color: transparent;
}

body.indi-app:not(.indi-app-on-macintosh)::-webkit-scrollbar-thumb,
.indi-app:not(.indi-app-on-macintosh) *::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 6px solid transparent;
  min-height: 50px;
  background-color: transparent;
}

body.indi-app:not(.indi-app-on-macintosh)::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 16px 16px 0px rgb(128 130 133);
}

body.indi-app:not(.indi-app-on-macintosh):hover::-webkit-scrollbar-thumb,
.indi-app:not(.indi-app-on-macintosh) *:hover::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 16px 16px 0px rgb(128 130 133);
}

.indi-app:not(.indi-app-on-macintosh) .indi-app-dark-area:hover::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 16px 16px 0px rgba(255, 255, 255, 0.75);
}

body.indi-app:not(.indi-app-on-macintosh)::-webkit-scrollbar-thumb:hover,
.indi-app:not(.indi-app-on-macintosh) *::-webkit-scrollbar-thumb:hover {
  border: 4px solid transparent;
  -webkit-box-shadow: inset 16px 16px 0px rgb(128 130 133);
  background-color: transparent;
}

.indi-app:not(.indi-app-on-macintosh) *.indi-app-dark-scrollable-area:hover::-webkit-scrollbar-thumb,
.indi-app:not(.indi-app-on-macintosh) *.indi-app-dark-scrollable-area::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 16px 16px 0px #eeeeee;
}

.indi-app .indi-app-normal-scrolling {
  overflow-x: auto;
  overflow-y: auto;
  overflow: overlay !important;
}

.indi-app:not(.indi-app-on-macintosh) .indi-app-normal-scrolling {
  scrollbar-width: thin;
  scrollbar-color: rgb(128 130 133) transparent;
}

.indi-app:not(.indi-app-on-macintosh) *.indi-app-dark-scrollable-area:hover {
  scrollbar-color: #eeeeee transparent;
}

.indi-app .indi-app-normal-scrolling {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/*TODO: Will be moved to hisos side - End*/

/* End :  custom style for native browser scroll bar*/

.indi-app .indi-company-logo {
  background: #1fc;
}

.indi-app .indi-header .indi-company-logo {
  background: #ffc;
}

.indi-app .indi-footer .indi-company-logo {
  background: #ffc;
}

.indi-app .indi-global-mask {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1;
}

.indi-app .indi-global-mask .indi-global-mask-loading-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-weight: 700;
  height: 100%;
  width: 100%;
}

.indi-app .indi-hidden {
  display: none !important;
  visibility: hidden !important;
}

/* TEMP changes */
/* .indi-app .indi-header-wrapper {
  background-color: lightseagreen;
  display: flex;
}
 */

/*Header start*/
.indi-app .indi-header-wrapper {
  height: 100px;
}

.indi-app .indi-header-left-logo-wrapper,
.indi-app .indi-header-right-bg-wrapper>div {
  display: flex;
  align-items: center;
}

.indi-app .btn.indi-header-userprofile-btn:first-child:active {
  background-color: #fff;
  border-radius: 50%;
}

.indi-app .indi-logo {
  background: url("../img/company-logo.png") no-repeat;
  height: 80px;
  width: 140px;
  background-size: contain;
}

.indi-app .indi-header-right-bg {
  background: url("../img/sos-header-right-bg.png") no-repeat;
  height: 100px;
  width: 69px;
  margin-right: 41px;
  background-size: contain;
}

.indi-app .indi-header-wrapper .btn {
  padding: 0;
}

.indi-app .indi-notification-icon {
  background: url("../img/notification_icon.png") no-repeat;
  width: 19px;
  height: 22.5px;
  background-size: contain;
  margin: 0.5rem 1rem;

}

.indi-app .indi-header-profile-image {
  height: 26px;
  width: 26px;
  cursor: pointer;
  border-radius: 50%;
}

.indi-header-user-profile-firstname {
  margin: 0 6px;
  font-size: 12px;
  font-weight: 700;
}

.indi-app .container {
  max-width: 100%;
}

/*Header end*/


/*Body start*/

.indi-app .indi-body-wrapper {
  background-color: lightskyblue;
  height: calc(100vh - 180px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #2f4594;
}

.indi-app .indi-full-height {
  background: #fff;
  flex: 1 1 auto;
  padding: 0 12px;
  height: 100%;
}

.indi-app .indi-badge-add-button-wrapper {
  background-color: #1fc;
}

.indi-app .indi-badge-list-wrapper {
  background-color: rgb(15, 130, 159);
}

.indi-app .indi-tile {
  flex: 1 1 auto;
  background: green;
  height: calc(100% - 80px);
  width: 25%;
  padding: 16px;
  margin: 16px;
  margin-bottom: 64px;
}

.indi-app .indi-navmenu-item {
  display: flex;
  /* padding: 8px; */
  /* border: 1px solid gray; */
}

.indi-app .indi-navmenu-item .indi-navmenu-active,
.indi-app .indi-navmenu-item .indi-navmenu-inactive {
  background: transparent;
  padding: 8px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  height: 56px;
  align-items: center;
}

.indi-app .indi-navmenu-item .indi-navmenu-inactive:hover {
  background: #23286236;
}

.indi-app .indi-navmenu-item .indi-navmenu-active {
  background: #304697;
  /* background: #3a52a7; */
  color: #fff;
  font-weight: bold;
}

.indi-app .indi-left-navigation-wrapper {
  padding-top: 20px;
  border-radius: 6px;
  height: 100%;
}

.indi-app .indi-left-navigation-wrapper,
.indi-app .indi-content-area-wrapper {
  background: #f0f3f9;
  overflow-y: overlay;
}

.indi-app .indi-content-area-wrapper {
  border-radius: 6px;
  padding: 20px;
}

.indi-app .indi-content-area-wrapper .indi-add-card-wrapper {
  width: 100%;
  height: 100%;
}

.indi-app .indi-content-area-wrapper .indi-add-card-wrapper .indi-card-item-parent.card-with-bg {
  max-width: 300px;
  min-width: 240px;
  margin: 0 auto;
}

.indi-app .indi-content-area-wrapper button.btn.btn-primary,
.indi-app .modal-dialog button.btn.btn-primary {
  /* float: right; */
  margin: 8px;
  background-color: #232862;
  border: 1px solid #232862;
}

.indi-app .indi-content-area-wrapper form {
  height: 100%;
  width: 100%;
}

.indi-app img.indi-w-32 {
  width: 32px;
  margin: 4px 16px;
  color: #010fb8;
}

.indi-app .indi-content-area-wrapper img.indi-w-20 {
  margin: 8px;
  color: #010fb8;
}

.indi-app a.indi-navmenu-inactive span {
  color: #010fb8;
}

.indi-app .indi-navmenu-active img.indi-w-32 {}

.indi-app .indi-qrcode-box-img-col {
  position: relative;
  top: -12px;
}

.indi-app .indi-qrcode-box-img-col img {
  background-color: #2f45947a;
  width: 40px;
  height: 29px;
}

.indi-app .indi-qrcode-box-img-col img.indi-qrcode-qrcode {
  width: 100px;
  height: 100px;
}

/*utility classes*/
.indi-place-me-top-right {
  position: absolute;
  top: 16px;
  right: 16px;
}

.indi-place-me-top-left {
  position: absolute;
  bottom: 16px;
  left: 16px;
}

.indi-place-me-bottom-right {
  position: absolute;
  bottom: 0px;
  right: 16px;
}

.indi-place-me-bottom-left {
  position: absolute;
  bottom: 16px;
  left: 16px;
}

/*Body end*/

/*popover style start*/
.indi-app .popover-body {
  color: #2f4694;
}

/*popover style end*/

/*footer start*/
.indi-app .indi-add-card-item-footer {
  box-shadow: 0px 0px 4px 0px #46516f;
  margin-top: 10px;
}

.indi-app .indi-footer-wrapper {
  background-color: #ffffff;
  font-weight: bold;
  height: 80px;
  color: #2f4694;
}

.indi-app .indi-footer-wrapper .indi-logo {
  height: 48px;
  width: 84px;
}

.indi-app .indi-footer-wrapper .indi-footer-logo-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 6px;
}


.indi-app .indi-footer-wrapper .indi-footer-logo,
.indi-app .indi-footer-wrapper .indi-footer-logo-text {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0;
  margin: 0 24px;
}

.indi-app .indi-footer-wrapper .navbar-nav {
  margin: 0 24px;
}

.indi-app .indi-footer-wrapper .navbar-nav-left .nav-link {
  margin: 0 16px;
  color: #2f4694;
  font-size: 12px;
}

.indi-app .indi-footer-wrapper .indi-copy-text {
  font-weight: bold;
  font-size: 11px;
  line-height: 15px;
  margin: 0 48px;
  padding-bottom: 5px;
}

.indi-app .indi-w-20 {
  width: 16px;
  height: 16px;
  margin: 0px;
}

/*Footer end*/


.indi-app .indi-body2-wrapper {
  padding: 20px;
}

.indi-app .indi-body-cards-wrapper {
  flex-flow: column;
}

.indi-app .indi-body-action-bar,
.indi-app .indi-add-card-title {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.indi-app .indi-body-title,
.indi-app .indi-body-action-bar,
.indi-app .indi-add-card-title,
.indi-app .indi-user-settings-page-header,
.indi-app .indi-signature-title {
  font-weight: bold;
  color: #2f4694;
  line-height: 40px;
  padding: 0 16px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.indi-app .indi-body-actions {
  display: flex;
  flex-flow: row;
  justify-content: end;
}

.indi-app .indi-body-action {
  margin-left: 10px;
}

.indi-app .indi-add-card-wrapper,
.indi-app .indi-content-area-wrapper,
.indi-app .indi-cards-collection-wrapper {
  height: calc(100% - 32px);
  padding: 0;
  overflow-x: overlay;
}

.indi-app .indi-placeholder-add-card.indi-card-item-wrapper {
  border: 2px dashed #2d326c;
  border-radius: 10px;
  flex-flow: column;
  padding: 10px;
}

.indi-app .indi-card-item-wrapper {
  width: 300px;
  min-width: 300px;
  cursor: pointer;
  margin: 16px;

}

.indi-app .indi-card-item-parent {
  width: 100%;
  height: 100%;
  color: #fff;
  background-size: cover;
}

.indi-app .indi-card-item-parent.card-with-bg {
  /* background-image: url("../img/Card.png"); */
  padding: 16px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.indi-app .indi-card-upload-picture {
  min-width: 100px;
  min-height: 100px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-top: 40px;
  margin-bottom: 10px;
  max-width: 100px;
  max-height: 100px;
  overflow: hidden;
}

.indi-app .indi-card-fields {
  overflow-y: overlay;
  width: inherit;
}

.indi-app .indi-card-title {
  padding-bottom: 8px;
  line-height: 19px;
  min-height: 24px;
  max-height: 40px;
}

.indi-app .indi-card-field-wrapper>div {
  padding-bottom: 16px;
}

.indi-app .indi-placeholder-add-card-img {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.indi-app .indi-placeholder-add-card:hover {
  background-color: #dbe2fa;
}

.indi-app .indi-placeholder-add-card-img img {
  height: 72px;
  width: 72px;
}

.indi-app .indi-placeholder-add-card-text {
  justify-content: center;
  align-items: center;
  color: #2f4694;
  font-size: 20px;
  font-weight: bold;
  line-height: 2.5;
}

.indi-app .indi-card-company-logo-wrapper {
  position: absolute;
  /* float: right; */
  height: 40px;
  width: calc(100% - 15px);
  background-size: 50px 50px;
  background-position: 10px;
  background-size: cover;
  display: flex;
  display: flex;
  justify-content: end;
}

.indi-app .indi-ext-card-item-wrapper .indi-card-company-logo-wrapper {
  height: 70px;
}

.indi-app .indi-ext-card-item-wrapper .indi-card-upload-picture {
  min-width: 150px;
  min-height: 150px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-top: 64px;
  margin-bottom: 10px;
}

.indi-app .indi-ext-card-item-wrapper .indi-card-item-parent.card-with-bg {
  padding: 24px;
}

.indi-card-field-item {}

.indi-card-field-item-img {
  min-width: 26px;
  height: 24px;
  margin-right: 8px;
  background-size: contain;
  background-repeat: no-repeat;
}

.indi-card-field-item-img.indi-card-field-item-phone {
  background-image: url("./../img/fields/phone.png");
}

.indi-card-field-item-img.indi-card-field-item-address {
  background-image: url("./../img/fields/addresses.png");
}

.indi-card-field-item-img.indi-card-field-item-vimeo {
  background-image: url("./../img/fields/vimeo.png");
}

.indi-card-field-item-img.indi-card-field-item-wechat {
  background-image: url("./../img/fields/wechat.png");
}

.indi-card-field-item-img.indi-card-field-item-instagram {
  background-image: url("./../img/fields/instagram.png");
}

.indi-card-field-item-img.indi-card-field-item-youtube {
  background-image: url("./../img/fields/youtube.png");
}

.indi-card-field-item-img.indi-card-field-item-mobile {
  background-image: url("./../img/fields/phone.png");
}

.indi-card-field-item-img.indi-card-field-item-linkedin {
  background-image: url("./../img/fields/linkedin.png");
}

.indi-card-field-item-img.indi-card-field-item-wechat {
  background-image: url("./../img/fields/wechat.png");
}

.indi-card-field-item-img.indi-card-field-item-link {
  background-image: url("./../img/fields/link.png");
}

.indi-card-field-item-img.indi-card-field-item-website {
  background-image: url("./../img/fields/website.png");
}

.indi-card-field-item-img.indi-card-field-item-twitter {
  background-image: url("./../img/fields/twitter.png");
}

.indi-card-field-item-img.indi-card-field-item-email {
  background-image: url("./../img/fields/email.png");
}

.indi-card-field-item-value {
  color: #fff;
  word-wrap: break-word;
  word-break: break-word;
}

.indi-card-field-item input,
.indi-card-field-item textarea,
.indi-card-field-item select,
.indi-card-field-item input:focus-visible,
.indi-card-field-item textarea:focus-visible,
.indi-card-field-item select:focus-visible {
  border: 0;
  background: transparent;
  border-bottom: 1px solid darkgrey;
  color: #fff;
  min-width: 190px;
}

.indi-email-form-page.indi-card-field-item input,
.indi-email-form-page.indi-card-field-item textarea {
  margin-bottom: 8px;
}

.indi-card-field-item input:read-only,
.indi-card-field-item input:read-only:focus-visible {
  /* font-style: italic; */
  color: lightgray;
  -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(160deg, 0deg);
  -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(160deg, 0deg);
  -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(160deg, 0deg);
  -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(160deg, 0deg);
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(160deg, 0deg);
}

.indi-card-field-item input:focus-visible {
  border-bottom: 1px solid #dedada;
  outline: none;
}

@media screen and (max-width : 1800px) {
  .indi-app .indi-card-item-wrapper {
    width: 239px;
    min-width: 239px;
  }
}

.indi-card-mini-item-wrapper {
  width: 100%;
}

.indi-app .indi-card-mini-item-wrapper .indi-card-item-parent.card-with-bg {
  border-radius: 10px;
}

.indi-app .indi-card-mini-item-wrapper .indi-info-wrapper {
  border-radius: 10px;
  width: 100%;
  text-align: left;
}

.indi-app .indi-card-mini-items-wrapper {
  flex-direction: column;
  width: 100%;
  overflow-y: overlay;
}

.indi-app .indi-card-mini-options-wrapper {
  justify-content: center;
  padding: 8px;
}

.indi-app .indi-card-mini-options-wrapper Button {
  margin: 5px;
}


.indi-app .btn .btn-primary,
.btn.indi-mini-card-selection-btn {
  border-color: #234c8e;
  color: #234c8e;
  font-weight: 600;
  border-width: 2px;
}

.indi-app .btn-check:checked+.btn,
.indi-app .btn.active,
.indi-app .btn.show,
.indi-app .btn:first-child:active,
.indi-app :not(.btn-check)+.btn:active,
.indi-app .btn-check:checked+.btn.indi-mini-card-selection-btn {
  background-color: #234c8e;
  border-color: #234c8e;
  color: #fff
}

.btn-group>.btn-group:not(:last-child)>.btn,
.btn-group>.btn.dropdown-toggle-split:first-child,
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
  background-color: #ffffff;
  color: #234c8e;
}


.indi-app .btn-check+.btn.indi-card-item-wrapper.indi-card-mini-item-wrapper.btn-outline-primary {
  background-color: transparent;
  border-radius: 10px;
  outline: none;
  border: 0;
  box-shadow: none;
  transition: all 0.3s ease 0s;
  margin: 16px;
  padding: 0;
  width: 210px;
  max-width: 280px;
  height: 140px;
}


.indi-app .btn-check+.btn.indi-card-item-wrapper.indi-card-mini-item-wrapper.btn-outline-primary:hover,
.indi-app .btn-check:checked+.btn.indi-card-item-wrapper.indi-card-mini-item-wrapper.btn-outline-primary {
  box-shadow: -2px 6px 14px rgb(0 0 0 / 60%);
}

.indi-app .indi-card-qr-code {
  height: 60px;
  float: right;
}

.indi-app .indi-copy-signature-wrapper,
.indi-app .indi-signature-item-wrapper {
  justify-content: center;
  padding: 16px;
  min-height: 230px;
}

.indi-app .indi-mini-card-list {
  width: 100%;
  overflow-x: auto;
  justify-content: center;
}

.indi-app .indi-signature-item-wrapper .indi-signature-item {
  border-radius: 10px;
  padding: 20px 10px;
  min-width: 400px;
  max-width: 400px;
  background: #fff;
  box-shadow: 0px 1px 6px #000;
  min-height: 192px;
}

.indi-app .indi-qrcode-bg,
.indi-app .indi-qrcode-logo {
  border-radius: 10px;
}

.indi-app .indi-qrcode-bg {
  background-size: cover !important;
  width: 160px;
  height: 120px;
}

.indi-app .indi-qrcode-logo {
  width: 100px;
  height: 100px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.indi-app .indi-signature-template {
  justify-content: space-between;
}

.indi-app .indi-signature-template .indi-qrcode-box-info-col div span {
  display: table-cell;
  padding-bottom: 8px;
  padding-left: 16px;
}

.indi-app .indi-signature-template .indi-qrcode-box-info-col div span.indi-card-field-item-img {
  background-size: 20PX;
  background-position: 0px 2px;
}

.indi-app .indi-qrcode-qrcode {
  height: 120px;
}

.indi-app .indi-ext-card-details-page {
  background-image: url("./../img/ext-bg.png");
  height: 100vh;
  width: 100vw;
  background-repeat: repeat;
  background-size: contain;
}

.indi-ext-card-item-wrapper {
  justify-content: center;
  width: 400px;
  margin: 0 auto;
  padding: 90px 0;
  height: 100%;
}

.indi-app .indi-card-with-actions {
  cursor: pointer;
}

.indi-app .indi-card-with-actions.indi-card-item-parent.card-with-bg:hover {
  box-shadow: 0px 8px 15px rgb(0 0 0 / 60%) !important;
  background-color: transparent;
  outline: none;
  border: 0;
  box-shadow: none;
  transition: all 0.3s ease 0s;
}

.indi-app .indi-card-details-wrapper>div {
  margin-right: 42px !important;
}

.indi-app .indi-card-item-page2-qrcode-image img {
  height: 100px;
}

.indi-app .indi-card-item-page2 {
  justify-content: space-between;
}

.indi-app .indi-body-action {
  cursor: pointer;
}

.indi-app .indi-modal-dialog-alert .modal-body {
  padding: 0 !important;
}

.indi-app .indi-modal-dialog-alert-body {
  margin: 0 !important;
}

.indi-app .indi-email-form-page form {
  display: flex;
  flex-direction: column;
}

.indi-app .indi-card-upload-picture-file-input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  opacity: 0;
  position: absolute;
  height: 100px;
  border: 1px solid red;
  width: 100px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

.indi-app .indi-card-upload-picture.indi-card-upload-picture-with-no-bg:hover {
  background-image: url("../img/Upload.png");
  background-color: rgb(255, 255, 255, 0.5);
  background-repeat: no-repeat;
  background-size: contain;
  /* transform: rotate(180deg); */
}

.indi-app .indi-card-upload-picture-card-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  pointer-events: none;
}

.indi-app .indi-card-upload-picture-with-no-bg:hover {
  cursor: pointer;
}

.indi-app .indi-card-upload-picture-with-no-bg:hover .indi-card-upload-picture-card-image {
  opacity: 0.3;
}

.indi-app .indi-card-upload-picture.indi-card-upload-picture-with-no-bg:hover {
  background-color: rgb(255, 255, 255, 1);
}

.indi-app .indi-card-upload-picture-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.indi-app .indi-ext-card-item-wrapper .indi-card-upload-picture-img {
  height: 150px;
  width: 150px;
}

.indi-app .indi-table-img-cell {
  width: 24px;
  height: 24px;
}

.indi-app .cropper-crop-box,
.cropper-view-box {
  border-radius: 50%;
}

.indi-app .cropper-view-box {
  box-shadow: 0 0 0 1px #39f;
  outline: 0;
}

.indi-app .cropper-face {
  background-color: inherit !important;
}

.indi-app .cropper-dashed,
.cropper-line {
  display: none !important;
}

.indi-app .cropper-view-box {
  outline: inherit !important;
}

.indi-app .cropper-point.point-se {
  top: calc(85% + 1px);
  right: 14%;
}

.indi-app .cropper-point.point-sw {
  top: calc(85% + 1px);
  left: 14%;
}

.indi-app .cropper-point.point-nw {
  top: calc(15% - 5px);
  left: 14%;
}

.indi-app .cropper-point.point-ne {
  top: calc(15% - 5px);
  right: 14%;
}

.indi-app .indi-crop-dialog-modal-img-wrapper {
  background-color: #2f4696;
  padding: 20px;
  height: 240px;
  border-radius: 5px;
}

.indi-app .indi-crop-card-info-btn {
  height: 28px;
  width: 28px;
  border: 1px solid #fff;
  border-radius: 50%;
  font-style: italic;
  color: #fff;
  text-align: center;
  margin: 10px;
  font-weight: 700;
}

.indi-app .popover .popover-arrow {
  display: none !important;
}

.indi-app .indi-modal-card-crop-btn-wrapper {
  padding: 10px 0;
}

.indi-app .indi-modal-card-crop-btn-wrapper Button {
  margin-right: 5px;
  background-color: #232862;
}

.indi-app .cropper-modal {
  opacity: 1;
  background-color: transparent;
}

.indi-app .indi-add-card-page-badge-ribbon-wrapper,
.indi-app .indi-edit-card-page-badge-ribbon-wrapper {
  width: calc(100% - 150px);
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  padding: 16px;
  display: flex;
  overflow-x: overlay;
}

.indi-app .indi-edit-card-page-badge-ribbon-wrapper {
  width: calc(100% - 170px);
}

.indi-app .indi-add-card-page-footer-btn-wrapper {
  width: 150px;
  margin: auto 0;
}

.indi-app .indi-badges-ribbon-wrapper {
  justify-content: center;
}

.indi-app .indi-badge-item-wrapper {
  margin-right: 12px;
  font-size: 12px;
}

.indi-app .indi-badge-item-icon-image {
  width: 24px;
  height: 24px;
}

.indi-app .indi-badge-freeze {
  opacity: 0.5;
  cursor: not-allowed;
}

.indi-app .indi-badge-field-remove {
  font-size: 10px;
  border: 1px solid grey;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  text-align: center;
  color: #abb5d7;
}

.indi-app .indi-badge-field-remove:hover {
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}


.indi-app .indi-data-table-header {
  background-color: #304697 !important;
  color: #fff !important;
}

.indi-app .indi-data-table-wrapper {
  padding: 16px;
  overflow: overlay;
  height: calc(100% - 32px);
}

.indi-app .indi-add-template-form .indi-data-table-wrapper.indi-text-btn-row {
  justify-content: space-between;
  align-items: center;
}

.indi-app .indi-add-template-form .indi-data-table-wrapper .form-floating {
  flex: 1 1 0;
}

.indi-app .indi-add-template-form .indi-data-table-wrapper .indi-data-table-tr td {
  vertical-align: middle;
}

.indi-app .indi-add-template-form .indi-data-table-wrapper .indi-data-table-tr td input[type=checkbox] {
  border-color: #2f4696;
}

.indi-app .indi-add-template-form .indi-data-table-wrapper .indi-data-table-tr td input[type=text] {
  height: calc(2rem + 2px);
  line-height: 1.25;
  border-color: #2f4696;
  min-width: 200px;
}

.indi-app .indi-add-template-form .indi-data-table-wrapper .accordion-body {
  overflow: auto;
  padding: 0;
  margin: 16px;
  font-weight: bold;
  color: #304697;
}

.indi-app .indi-add-template-form .indi-data-table-wrapper .accordion-item .accordion-button {
  color: #2f4594;
  font-weight: bold;
}

.indi-app .indi-add-template-form .indi-data-table-wrapper .accordion-item .accordion-button:not(.collapsed) {
  background-color: #2b5daf40;
  font-weight: bold;
  color: #232862;
}

.indi-app .indi-add-template-form .indi-add-card-title {
  height: 46px;
}

.indi-app .indi-add-page-footer-btn-wrapper.float-right {
  float: right;
}

.indi-app tr.indi-data-table-tr {
  background-color: #f5f8fc;
  border-top: 5px solid #f0f3f9;
  color: #304697;
  font-size: 13px;
  font-weight: 600;
}

.indi-app .indi-data-table-checkbox-all {
  opacity: 0;
}

.indi-app .indi-table-header-searchbox {
  width: 50px;
}

.indi-app .indi-tamplte-empty-field-value {
  font-size: 14px;
  color: darkgrey;
  font-style: italic;
}

.indi-app .indi-email-signature-footer {
  justify-content: right;
  display: flex;
  margin: 0 10px 10px 0;
}

.indi-app .indi-email-signature-footer Button {
  background-color: #2f4696;
  border-color: #2f4696;

}

/* indi-add-form-item-input */
.indi-app .indi-img-preview {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-size: contain !important;
}

.indi-app .indi-add-form-wrapper {
  justify-content: start;
  min-height: 300px;
}


.indi-app .indi-upload-picture-file-input {
  opacity: 0;
  position: absolute;
}

.indi-app .indi-data-table-td-template-image .indi-upload-picture-file-input {
  left: 0;
}


.indi-app .indi-add-img-wrapper {
  background-image: url("../img/Upload1.png");
  background-color: rgb(255, 255, 255, 0.5);
  background-repeat: no-repeat;
  background-size: contain;
}

.indi-app .indi-upload-picture-file-input,
.indi-app .indi-add-img-wrapper {
  width: 72px;
  height: 58px;
  border: 1px solid transparent;
  border-radius: 6px;
  margin: 0 20px;
  cursor: pointer;
}

.indi-app .indi-data-table-tr .indi-upload-picture-file-input,
.indi-app .indi-data-table-tr .indi-add-img-wrapper {
  margin: 0;
}

.indi-app .form-floating>.form-control-plaintext~label,
.indi-app .form-floating>.form-control:focus~label,
.indi-app .form-floating>.form-control:not(:placeholder-shown)~label,
.indi-app .form-floating>.form-select~label {
  opacity: 1;
  background: #fff;
  width: auto;
  -webkit-transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
  transform: scale(.85) translateY(-0.8rem) translateX(0.5rem);
  height: auto;
  color: #2f4696;
  padding: 0 4px;
  margin: 0 8px;
}

.indi-app .form-floating>.form-control,
.indi-app .form-floating>.form-control-plaintext,
.indi-app .form-floating>.form-select {
  height: calc(2rem + 2px);
  line-height: 1.25;
  border-color: #2f4696;
  padding: 1rem;
}

.indi-app .form-floating>.form-control.indi-input-textarea-field {
  height: 90px;
}


.indi-app .form-floating>.form-control-plaintext:focus,
.indi-app .form-floating>.form-control-plaintext:not(:placeholder-shown),
.indi-app .form-floating>.form-control:focus,
.indi-app .form-floating>.form-control:not(:placeholder-shown),
.indi-app .form-floating>.form-select {
  padding-top: 0;
  padding-bottom: 0;
  border-color: #2f4696;
}

.indi-app .form-floating>label {
  padding: 0.25rem 1rem;
  color: #2f4696;
}

.indi-app .form-control:focus,
.indi-app .form-select:focus {
  box-shadow: 0 0 0 2px rgb(13 110 253 / 20%);
}

.indi-app .indi-add-form-item {
  margin: 12px 0;
}

.indi-app .indi-add-form-item-label {
  color: #2f4696;
  font-weight: bold;
  flex: 1 0 0;
}


.indi-app .indi-add-template-badge-icon-image {
  width: 24px;
  height: 24px;
}

.indi-app .indi-add-img-wrapper-preview {
  width: 32px;
}

.indi-app .indi-data-table-td-template-image {
  display: flex;
  justify-content: center;
}

.indi-app .indi-data-table-td-template-img-prevew {
  background-color: rgba(0, 0, 0, 0.1);
}

.indi-app .indi-upload-picture-file-input-wrapper {
  position: relative;
}

.indi-app .indi-template-field-item-img {
  min-width: 26px;
  height: 24px;
  margin-right: 8px;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.indi-app .indi-add-card-template-preview {
  background-image: url("../img/eye.png");
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
}

.indi-app .indi-add-card-template-preview-wrapper {
  justify-content: center;
}

.indi-app .indi-add-card-template-cell {
  vertical-align: middle;
}

.indi-app .indi-card-template-preview-wrapper {
  max-height: 500px;
  overflow: overlay;
}


.indi-app .indi-user-settings-page-wrapper {
  flex-direction: column;
  width: 100%;
  overflow-y: overlay;
}

.indi-app .indi-user-settings-page-card {
  width: 220px;
  min-width: 220px;
  margin: 16px;
  /* border-radius: 10px; */
  padding: 0;
  background: #fff;
  /* box-shadow: 0px 1px 6px #000; */
  min-height: 192px;
}

.indi-app .indi-user-settings-page-card-inner {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  /* height: 100%; */
  flex-direction: column;
  cursor: pointer;
}

.indi-app .indi-user-settings-page-profile .indi-user-settings-page-card-inner {
  flex-direction: row;
  background-color: #5e6aae69;
  padding: 5px 10px;
}

.indi-app .indi-user-settings-page-card-header {
  padding: 12px 8px 20px 8px;
}

.indi-app .indi-user-settings-page-card-header-img {
  width: 16px;
  height: 16px;
}

.indi-app .indi-user-settings-page-image {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.indi-app .indi-user-settings-page-change-email {
  flex-direction: column;
}

.indi-app .indi-user-settings-page-card-header-label {
  font-weight: bold;
  color: #2f4694;
  line-height: 18px;
  padding-left: 5px;
  font-size: 12px;
}

.indi-app .indi-user-settings-page-card-inner-item {
  /* background-color: #f0f3f9; */
  width: 100%;
  padding: 5px 10px;
}

.indi-app .indi-user-settings-page-card-inner-item.indi-user-settings-page-reset-password {
  /* background-color: transparent; */
  line-height: 34px;
}

.indi-app .indi-user-settings-page-card-inner-item.indi-user-settings-page-reset-password,
.indi-app .indi-user-settings-page-card-inner-item {
  background-color: transparent;
}

.indi-app .indi-user-settings-page-profile .indi-user-settings-page-card-inner:hover,
.indi-app .indi-user-settings-page-card-inner-item.indi-user-settings-page-reset-password:hover,
.indi-app .indi-user-settings-page-card-inner-item:hover {
  background-color: #23286236;
}

.indi-app .indi-user-settings-page-change-email-label {
  font-weight: 500;
}

.indi-app .indi-user-settings-page-change-email-value {
  font-size: 12px;
}

.indi-app .indi-user-settings-page-display-name {
  margin-left: 7px;
}

.indi-modal-edit-user-profile-resetpassword-section:not(.indi-modal-edit-user-profile-resetpassword),
.indi-modal-edit-user-profile-profile-section:not(.indi-modal-edit-user-profile-profile),
.indi-modal-edit-user-profile-email-section:not(.indi-modal-edit-user-profile-email) {
  display: none;
}

.indi-app .indi-modal-edit-user-profile-floating-inputs {
  margin-bottom: 20px;
}

.indi-app .indi-modal-edit-user-profile-header-title {
  color: #2f4694;
}

.indi-app .indi-user-profile-settings-error-msg {
  left: 12px;
  position: absolute;
  bottom: 20px;
  max-width: 270px;
  color: red;
}

.indi-app .indi-card-upload-picture-file-input-wrapper {
  min-width: 100px;
  min-height: 100px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 100px;
  max-height: 100px;
  overflow: hidden;
}

.indi-app .indi-card-upload-picture-file-input-wrapper:hover {
  background-image: url("../img/Upload.png");
  background-color: rgb(255, 255, 255, 0.5);
  background-repeat: no-repeat;
  background-size: contain;
}

.indi-app .indi-card-upload-picture-img-input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  opacity: 1;
  position: absolute;
  height: 100px;
  border: 1px solid #232862;
  width: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.indi-app .indi-card-upload-picture-file-input-wrapper:hover .indi-card-upload-picture-img-input {
  opacity: 0.5;
}

.indi-app .modal-header .modal-title.h4 {
  color: #2f4694;
  font-size: 18px;
}

.indi-app .indi-modal-addr-preview-contact-number-wrapper {
  display: flex;
  justify-content: end;
}

.indi-app .indi-modal-addr-preview-full-address {
  width: 100%;
  height: 70px;
  border: 1px solid grey;
  border-radius: 3px;
  background-color: #d3d3d340;
  margin-top: 18px;
  padding: 5px 10px;
  font-size: 14px;
  font-style: italic;
}

.indi-app .indi-modal-addr-preview-contact-number {
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
  margin-left: 10px;
}

.indi-app .indi-select-address-modal-body {
  padding-bottom: 0;
}

.indi-app .indi-select-address-modal-footer {
  display: flex;
  justify-content: end;
  align-items: center;
}

.indi-app .indi-add-card-select-address-field {
  font-style: italic;
  background-color: #d3d3d340;
}

.indi-app .indi-add-card-address-telephone-wrapper {
  display: flex;
  justify-content: flex-end;
}

.indi-app .indi-add-card-address-telephone {
  width: 16px;
  height: 16px;
  background-image: url("./../img//fields/telephone.png");
  display: inline-flex;
  background-size: contain;
  background-repeat: no-repeat;
}

.indi-app .indi-add-card-address-telephone-value {
  font-size: 12px;
  font-style: italic;
  color: #ccc;
}


.indi-app .indi-card-address-text {
  line-height: 18px;
  font-style: italic;
  font-size: 14px;
}

.indi-app .indi-card-number-text {
  margin-top: 5px;
  font-size: 12px;
  display: flex;
}

.indi-app .indi-email-sign-generate-item {
  /* border-left: 1px solid blue; */
  padding-bottom: 14px;
}

.indi-app .indi-email-sign-generate-item,
.indi-app .indi-email-sign-generate-body {
  padding-left: 28px;
  position: relative;
}


.indi-app .indi-email-sign-vertical-line::before {
  background-color: #304697;
  bottom: 0px;
  content: "";
  left: 0;
  position: absolute;
  top: 0px;
  transform: translateX(-50%);
  width: 2px;
}

.indi-app .indi-email-sign-generate-item:first-child .indi-email-sign-vertical-line::before {
  top: 10px;
}

.indi-app .indi-email-sign-generate-item:last-child .indi-email-sign-vertical-line::before {
  height: 18px;
  bottom: auto;
}

.indi-app .indi-email-sign-vertical-line::after {
  background-color: #304697;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 0;
  position: absolute;
  top: calc(0.75rem);
  transform: translateX(-50%) translateY(-50%);
  width: 14px;
}



.indi-app .indi-email-sign-help-heading {
  font-size: 12px;
  font-weight: 700;

}

.indi-app .indi-email-sign-help-link {
  font-size: 16px;
}

.indi-app .indi-email-sign-help-link>a {
  text-decoration: none;
  line-height: 14px;
  display: block;
  color: #304697;
}

.indi-app .indi-email-sign-tab-content-right-side-area {
  max-width: 400px;
}

.indi-app .indi-email-sign-tab-panel-heading {
  font-weight: 700;
  font-size: 14px;
}

.indi-app .indi-email-sign-tab-panel-sub-heading {
  font-size: 10px;
}

.indi-app .nav-pills .nav-link {
  background-color: transparent;
  color: #304697;
}

.indi-app .nav-pills .nav-link.active {
  background-color: #304697;
  color: #fff;
}

.indi-app .indi-temp-dummy {
  position: fixed;
  top: 0;
  left: -1000px;
}

.indi-app .indi-temp-dummy-img {
  height: 100px;
  width: 200px;
}